.projects {
  background-color: #f6f6f8;
  padding: 100px 0;
}

.projects__container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
.projects__text {
  width: 45%;
  @include xs {
    width: 100%;
  }
  .section__title {
    margin-bottom: 30px;
  }
  .section__text {
    margin-bottom: 50px;
  }
}

.projects__list {
  margin-bottom: 30px;
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  @include xs {
    grid-auto-flow: row;
  }
  @include sm {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}

.projects__item-image {
  background: url("./../../assets/images/projects.png") center/cover no-repeat;
  width: 200px;
  height: 200px;
  &:not(:last-child) {
    margin-right: 20px;
  }
}
